*.DS_Store
.idea
**/*.rs.bk
**/target/*
**/node_modules
**/test-ledger
**/.anchor
**/.bolt
**/.yarn
**/.next/
**/.env
!/anchor-counter/target/deploy/anchor_counter-keypair.json
!/bolt-counter/target/deploy/counter-keypair.json
!/bolt-counter/target/deploy/increase-keypair.json

# But don't ignore the target/idl/ directory
!**/anchor-minter/target/idl/
!**/anchor-counter/target/idl/
!**/anchor-minter/target/deploy/

# Allow the app's local IDL and types for Vercel build
!app/src/target/
!app/src/target/idl/
!app/src/target/idl/**
!app/src/target/types/
!app/src/target/types/**
